body {
    background-color: #964929;
    color: #FFFFFF;
    height:100%;
    width: 100%;
    margin: 0%;
}
#top_bar {
    background-color: #5C3921;
    position: absolute;
    width: 100%;
    height: 10%;
    top:0;
    left:0;
    float: left;
    display: table;
    z-index: 1;
    -webkit-box-shadow:0 3px 4px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow:0 3px 4px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.2) inset;
    box-shadow:0 3px 4px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.2) inset;
}
#title_box {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    padding-left: 10px;
}
#title_box h1 {
    display: table-cell;
    vertical-align: middle;
    font-family: 'Sigmar One', cursive;
    font-size: 30px;
    color: #F7E240;
    text-shadow: 0px 0px 0 rgb(195,174,12),1px 1px 0 rgb(152,131,-31),2px 2px 0 rgb(110,89,-73),3px 3px 0 rgb(67,46,-116),4px 4px 0 rgb(25,4,-158),5px 5px 0 rgb(-18,-39,-201), 6px 6px 0 rgb(-60,-81,-243),7px 7px 6px rgba(0,0,0,1),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);
}
#nav {
    display: table-cell;
    height: 100%;
    float: right;
    right: 0;
}
#nav ul {
    text-align: center;
    height: 100%;
    width: auto;
    margin: 0;
    padding: 0;
    list-style:none;
}
#nav li {
    float: right;
    height: 100%;
    width: 100px;
}
#nav a {
    font-family: 'Electrolize', sans-serif;
    font-size: 20px;
    color: #DEC9B6;
    line-height: 56px;
    display: inline-block;
    padding:10px;
    text-decoration: none;
}
#nav a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}
#joke_box {
    height: 75%;
    width: 100%;
    position: absolute;
    display: table;
}
#joke_box p {
    color: #BDAD44;
    font-family: 'Slackey', cursive;
    font-size: 60px;
    text-shadow: 1px 1px #141203;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-left: 1%;
    padding-right: 1%;
    text-shadow:0px 0px 0 rgb(165,149,44),1px 1px 0 rgb(150,134,29),2px 2px 0 rgb(136,120,15),3px 3px 0 rgb(122,106,1),4px 4px 0 rgb(107,91,-14),5px 5px 0 rgb(93,77,-28),6px 6px 0 rgb(79,63,-42),7px 7px 0 rgb(64,48,-57),8px 8px 0 rgb(50,34,-71), 9px 9px 0 rgb(36,20,-85),10px 10px 9px rgba(0,0,0,0.6),10px 10px 1px rgba(0,0,0,0.5),0px 0px 9px rgba(0,0,0,.2);
}
#bottom_bar {
    width: 100%;    
    bottom:0;
    position: absolute;
    height: 15%;
}
#bottom_bar button {
    font-family: 'Knewave', cursive;
    font-size: 40px;
    color: #D6B03E;
    border: none;
    height: 100%;
    position: absolute;
    text-transform: uppercase;
    background: #7A4E30;
    background: -webkit-gradient(linear, left top, left bottom, from(#693F23), to(#1F0E03));
    background: -webkit-linear-gradient(top, #693F23, #1F0E03);
    background: -moz-linear-gradient(top, #693F23, #1F0E03);
    background: -ms-linear-gradient(top, #693F23, #1F0E03);
    background: -o-linear-gradient(top, #693F23, #1F0E03);
    text-shadow: 0px 0px 0 rgb(159,121,7),1px 1px 0 rgb(122,84,-30),2px 2px 0 rgb(85,47,-67),3px 3px 0 rgb(48,10,-104), 4px 4px 0 rgb(11,-27,-141),5px 5px 4px rgba(0,0,0,0.3),5px 5px 1px rgba(0,0,0,0.5),0px 0px 4px rgba(0,0,0,.2);
    -webkit-box-shadow:0 -3px 4px rgba(0, 0, 0, 0.8), 0 0 4px rgba(0, 0, 0, 0.8) inset;
    -moz-box-shadow:0 -3px 4px rgba(0, 0, 0, 0.8), 0 0 4px rgba(0, 0, 0, 0.8) inset;
    box-shadow:0 -3px 4px rgba(0, 0, 0, 0.8), 0 0 4px rgba(0, 0, 0, 0.8) inset;
}
#bottom_bar #gen_button {
    width: 50%;
}
#bottom_bar #cat_button {
    right:0;
    float: right;
    width: 50%;
}
#bottom_bar button:hover {
    cursor: pointer;
    color: #E3BF54;
    background: -webkit-gradient(linear, left top, left bottom,  from(#7A4E30), to(#361B09));
    background: -webkit-linear-gradient(top, #7A4E30, #361B09);
    background: -moz-linear-gradient(top, #7A4E30, #361B09);
    background: -ms-linear-gradient(top, #7A4E30, #361B09);
    background: -o-linear-gradient(top, #7A4E30, #361B09);
}
#bottom_bar button:active {
    color: #E3BF54;
    margin-left: 2px;
    padding-top: 3px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
    background: -webkit-gradient(linear, left top, left bottom,  from(#5C3921), to(#5E3519));
    background: -webkit-linear-gradient(top, #5C3921, #5E3519);
    background: -moz-linear-gradient(top, #5C3921, #5E3519);
    background: -ms-linear-gradient(top, #5C3921, #5E3519);
    background: -o-linear-gradient(top, #5C3921, #5E3519);
}
#bottom_bar select {
    font-family: 'Slackey', cursive;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    display: block;
    vertical-align: middle;
    color: #D6B03E;
    right:0;
    float: right;
    border: none;
    width: 50%;
    height: 0%;
    position: absolute;
    background-color: #5C3921;
    text-shadow: 0px 0px 0 rgb(159,121,7),1px 1px 0 rgb(122,84,-30),2px 2px 0 rgb(85,47,-67),3px 3px 0 rgb(48,10,-104), 4px 4px 0 rgb(11,-27,-141),5px 5px 4px rgba(0,0,0,0.3),5px 5px 1px rgba(0,0,0,0.5),0px 0px 4px rgba(0,0,0,.2);
}
#bottom_bar #drop_down {
    bottom: -120px;
}
:focus {outline:none;}
::-moz-focus-inner {border:0;}