<!DOCTYPE html>
<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Luckiest+Guy' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Slackey' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Knewave' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Mouse+Memoirs' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=McLaren' rel='stylesheet' type='text/css'>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
</head>
<title>Yo Mama Gen! | Home of the worlds largest collection of Yo Mama jokes!</title>
<body>
	<div id="top_bar">
        <div id="title_box">
		  <h1>YOMAMAGEN.COM</h1>
        </div>
        <div id="nav">
            <ul>
                <li><a onclick="openDocs()" id="api_docs_button">Docs</a></li>
                <li><a href="mailto:contact@yomamagen.com">Contact</a></li>
                <li><a href="https://github.com/kreamt/yoMamaGen" target="_blank">Source</a></li>
            </ul>
        </div>
	</div>
  	<div id="joke_box">
	  	<p id="joke">Yo mama so...</p>
	</div>
	<div id ="bottom_bar">
		<div id="button_box">
			<button type="button" id="gen_button" onclick="getJoke()">GENERATE!</button>
			<select id="drop_down" onclick="getCategories()"><option>ALL CATEGORIES</option></select> 
			<button type="button" id="cat_button" onclick="getCategories()">CATEGORIES</button>
		</div>
	</div>
    <div id="api_docs_content">
        <h2>API DOCUMENTATION</h2>
        <p>Get all Jokes:</p>
        <a href="http://yomamagen.com/api/jokes/">http://yomamagen.com/api/jokes/</a>
        <p>Get all Jokes by Category:</p>
        <a href="http://yomamagen.com/api/jokes/category/Ugly">http://yomamagen.com/api/jokes/category/&lt;cateogry name&gt;</a>
        <p>Get Random Joke:</p>
        <a href="http://yomamagen.com/api/joke/">http://yomamagen.com/api/jokes/</a>
        <p>Get Random Joke by Cateogy:</p>
        <a href="http://yomamagen.com/api/joke/category/Ugly">http://yomamagen.com/api/jokes/category/&lt;cateogry name&gt;</a>
    </div>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
</script>
<script src="{{ url_for('static', filename='js/jquery.simplemodal.js') }}"></script>
<script>
window.onload = function() {
    $.getJSON("http://127.0.0.1:5000/api/categories/", function(data) {
        var categories = []
        $.each(data.categories, function(key, val) {
            var dropDown = document.getElementById('drop_down');
            option = document.createElement('option');
            option.value = val;
            option.innerHTML = val;
            dropDown.appendChild(option);
        })
    });
}
function getJoke() {
    var category = document.getElementById('cat_button').innerHTML;
    if (category == 'CATEGORIES' || category == 'ALL CATEGORIES') {
        url = 'http://127.0.0.1:5000/api/joke/';
    } else {
        url = 'http://127.0.0.1:5000/api/joke/category/' + category;
    }
    $.getJSON(url, function(data) {
        document.getElementById('joke').innerHTML = data.joke[0];
    });
}
function getCategories() {
    if ($('#drop_down').css('bottom') != '-120px') {
        $('#drop_down').attr('size',1);
        $('#drop_down').css('bottom','-120px');
        $('#drop_down').css('height','0%');
        $('#drop_down').css('border','none');
        var dropDown = document.getElementById("drop_down");
        var category = dropDown.options[dropDown.selectedIndex].value;
        document.getElementById('cat_button').innerHTML = category;
    } else {
        $('#drop_down').attr('size',6);
        $('#drop_down').css('bottom','100%');
        $('#drop_down').css('height','240px');
        $('#drop_down').css('border','solid');
        $('#drop_down').css('position','absolute');
    }
}
function openDocs() {
    $('#api_docs_content').modal();
    return false;
}
$('body').click(function(evt){
       if(evt.target.id == "api_docs_content"
        || evt.target.id == "api_docs_button")
          return;
      $.modal.close();

});
</script>
</html>