<!DOCTYPE html>
<html>
<head>
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/style.css') }}">
<link href='http://fonts.googleapis.com/css?family=Luckiest+Guy' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Slackey' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Knewave' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Mouse+Memoirs' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=McLaren' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
</head>
<title>Yo Mama Gen! | Yo Mama Jokes Generator</title>
<body>
	<div id="top_bar">
        <div id="title_box">
		  <h3>YOMAMAGEN.COM</h3>
        </div>
        <div id="nav">
            <a id="list_icon"><i class="fa fa-list"></i></a>
            <ul>
                <li><a onclick="openDocs()" id="api_docs_button">Docs</a></li>
                <li><a href="mailto:contact@yomamagen.com">Contact</a></li>
                <li><a href="https://github.com/kreamt/yoMamaGen" target="_blank">Source</a></li>
            </ul>
        </div>
	</div>
  	<div id="joke_box">
	  	<p id="joke"></p>
	</div>
	<div id ="bottom_bar">
		<div id="button_box">
			<button type="button" id="gen_button" onclick="getJoke()">GENERATE!</button>
			<select id="drop_down" onclick="getCategories()"><option>ALL CATEGORIES</option></select> 
			<button type="button" id="cat_button" onclick="getCategories()">CATEGORIES</button>
		</div>
	</div>
    <div id="api_docs_content">
        <h2>API DOCUMENTATION</h2>
        <p>Get all Jokes:</p>
        <a href="http://yomamagen.com/api/jokes/" target="_blank">http://yomamagen.com/api/jokes/</a>
        <p>Get all Jokes by Category:</p>
        <a href="http://yomamagen.com/api/jokes/category/Ugly" target="_blank">http://yomamagen.com/api/jokes/category/&lt;cateogry name&gt;</a>
        <p>Get Random Joke:</p>
        <a href="http://yomamagen.com/api/joke/" target="_blank">http://yomamagen.com/api/jokes/</a>
        <p>Get Random Joke by Cateogy:</p>
        <a href="http://yomamagen.com/api/joke/category/Ugly" target="_blank">http://yomamagen.com/api/jokes/category/&lt;cateogry name&gt;</a>
    </div>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
</script>
<script src="{{ url_for('static', filename='js/jquery.simplemodal.js') }}"></script>
<script src="{{ url_for('static', filename='js/yomama.js') }}"></script>
</html>